#root {

  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  background-color: darkcyan

}

.about {
  background-color: darkcyan;
  padding: 1rem;
  border-radius: 8px;

}

.resumelist {
  list-style-type: none;
}

.nav-list {
  list-style-type: none;
  background-color: darkolivegreen;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-list li {

  margin: 10px;
  background-color: darkgrey;
  color: darkred
}

.footer-logo {
  width: 80px;
  height: 80px;
}

.project-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightseagreen;
  padding: 10px;
  border-radius: 8px;
}

.project-div div {
  margin: 15px;
  background-color: darkorange;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px (0, 0, 0, 1);
}

.footer {
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    flex-direction: column;
}

form input {
  margin: 10px;
}

form textarea {
  margin: 10px;

}

.footer-contact {
  list-style-type: none;
}

.resume-link:visited{
  text-decoration: none;
}

.link-btn{
  margin: 5px;
}

.contact-btn{
  background-color: blueviolet;
}