#root {

  margin: 0 auto;
  padding: 2rem;

}

.about{
  color: red;
}

.resumelist {
  list-style-type: none;
}

.nav-list {
  list-style-type: none;

}

.nav-list li{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}