#root {

  margin: 0 auto;
  padding: 2rem;

}

.about {
  color: blue;
}

.resumelist {
  list-style-type: none;
}

.nav-list {
  list-style-type: none;

}

.nav-list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}

.footer-logo {
  width: 80px;
  height: 80px;
}

.project-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-div div {
  margin: 15px;
}